body {
    margin: 0px;
    padding: 0px;
    background: whitesmoke;
}

.container {
    width: 732px;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.wp-image-257 {
    width: 70%;
}

p {
    margin: 0px;
}

.wrapper {
    display: none;
}

.last-btn {
    margin-bottom: 2px;
}

form input,
form button {
    width: 100%;
    height: 35px;
    font-size: 17px;
    margin: 0px 0px 20px 0px;
    padding: 6px 10px;
    border: 1px solid #bcbbbb;
    color: black;
}

form button {
    height: 50px;
}

::placeholder {
    color: #bcbbbb;
}

.pay-button {
    background: #159e15;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.wp-container-3 {
    width: 100%;
    height: 100px;
}

div.img,
div.title-h4 {
    width: 50%;
    float: left;
}

div.title-h4 h4 {
    font-size: 26px;
    font-family: system-ui;
    padding: 0px 0px 0px 40px;
    margin: 20px 0px;
    color: #505050;
}

.form .form-column {
    width: 43%;
    float: left;
    margin-left: 30px;
}

.form .last-column {
    width: 94%;
    float: left;
    margin: 2% 26px;
}

button {
    cursor: pointer;
}

.cc-number-input {
    width: 66.8%;
}

.cc-expiry-input,
.cc-cvc-input {
    width: 16%;
}

.alert {
    color: white;
    padding: 10px 21px;
    margin: 13px 26px;
}

.alert-danger {
    background-color: red;
}

.alert-success {
    background-color: #159e15;
}

.hidden {
    display: none;
}